{% extends 'dashboard/base/base_content.html' %}
{% load static %}

{% block style %}
    <style>
    .icon-row{
        margin-bottom: 20px;
    }

    .icon-image{
        border-width: 2px;
        border-color: black;
        border-style: solid;
        border-radius: 5px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 70px">
        <div class="row icon-row">
            <div class="col">
                <img class="icon-image" width="60px" height="60px" src="{% static "dashboard/images/accident.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/assault.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/corruption.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/drugTrafficking.png" %}">
            </div>
        </div>
        <div class="row icon-row">
            <div class="col">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/fire.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/gasStation.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/hateCrime.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/kidnapping.png" %}">
            </div>
        </div>
        <div class="row icon-row">
            <div class="col">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/knifeAttack.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/loud.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/medicalEmergency.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/mostWanted.png" %}">
            </div>
        </div>
        <div class="row icon-row">
            <div class="col">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/policeComplain.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/terrorism.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/theft.png" %}">
            </div>
            <div class="col" style="margin-bottom: 50px">
                <img class="icon-image" width="60px" height="60px" border="1" src="{% static "dashboard/images/vandalism.png" %}">
            </div>
        </div>
    </div>


{% endblock %}

